<a href="https://colab.research.google.com/github/wikiban43/Misinformation-Analysis/blob/main/full_archive_search_user_wise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import json
import requests
import os
import json
import time
import pandas as pd
from datetime import datetime,timedelta
import time
import pickle
from google.colab import drive
import tweepy
drive.mount('/content/drive')



#bearer_token = 'AAAAAAAAAAAAAAAAAAAAAIJxNAEAAAAAHZ9CAu5ihxMmJ0LvjF75lQ3E7%2Fo%3DBLVYPaKVU1iNasbucVGf9RY5WTNESDiRFjcuu3cSRjuWq82Zs3'
#bearer_token = "AAAAAAAAAAAAAAAAAAAAAD%2BcYgEAAAAAj5%2Bw705OKXy%2F%2FVYhB9j6jjwVIik%3DKEdmgWebZLI2zXFkOuYFRYzLbsyOrkjMNhqHWwP9f3GQvGoRbD"
bearer_token = "AAAAAAAAAAAAAAAAAAAAAD%2BcYgEAAAAArlwQRh89reyAIz1iwuq3PiuDieM%3DRQOOeEaVxUTwgdOZiVnNiPbLpD48ct2g2Vp9BskfI6Hsw3gKyx"
endpoint = "https://api.twitter.com/2/tweets/search/all"
headers = {"Authorization": "Bearer {}".format(bearer_token)}


consumer_key = "cDiClkP49iTsbc3G7Ti5VJcLp"
consumer_secret = "2d4sR9ypcH7bNYFrDN6qeHf3NpUGBfOwBwPK4kS3JGRwQTuD5B"
#Bearer = AAAAAAAAAAAAAAAAAAAAAD%2BcYgEAAAAAHw4G9h4lbyrz0Um6UPwmQuXMegI%3DMK7BwPEtDWySjj9XQnKxBZ5ek5BOurIy73soU7Ir2TxMo5TdO9
access_token = "2934858343-MoyJzYCbfgK7u356NwOOxRh9VShk2J8jCwkQTzK"
access_secret = "CW5gOfLeEQHs4El5UarVe3MGvDjMjXoTPYnn2vjXQIwN0"

# Authenticate Tweepy connection to Twitter API
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)
api = tweepy.API(auth, wait_on_rate_limit=True)

Mounted at /content/drive

In [ ]:
#Get all core users
path3 = "drive/My Drive/MSR/ssr_keywords3/Tweet Data Complete Cleaned/"
path_keywords = "drive/My Drive/MSR/random_user_all_tweets"
c=0
random_users = []
for fname in os.listdir(path3):
  #df = pd.read_csv(path3+fname)
  x = fname.split(".")[0]
  if(x+'.all_tweets.'+'str(start_time)'+'.json' in os.listdir(path_keywords+'/')):
    print("Exists")
    continue
  uname = fname.split(".")[0]
  random_users.append(uname)
  c+=1
  if c>15:
    break

print(random_users)

In [ ]:
def get_followers(name):
    _users = []
    _error = []
    user_count = 1
    follower_ids = []
    next_cursor = -1
    count = 0
    while next_cursor != 0:
        #response = api.friends_ids(screen_name = s, count = 5000, cursor=next_cursor)
        try:
            response = api.followers_ids(screen_name = name, count = 5000, cursor=next_cursor)
            #print(response[0])
            follower_ids.extend(response[0])
            next_cursor = response[1][1]
            #print(count, len(friend_ids), len(response[0]), next_cursor)
            del response
            count += 1
        except Exception as e:
            next_cursor = 0
            print(e)
            #error_accounts[s] = e
            continue
            #if len(friend_ids) == 0:
                #print('Sleeping for 15 minutes...')
                #time.sleep(15*60)
    
    if len(follower_ids) == 0:
        return None
    return(follower_ids)

In [ ]:
path = "drive/My Drive/MSR/"
df_all_hop_users_main = pd.read_csv(path+"users_with_significant_tweets.csv")

In [7]:
#name_list = df_all_hop_users_main["user_name"].to_list()
#name_list.extend(["Angry_Bot14","BH_Piyali","Mahadev_Gulshan","manisha_1604", "blacksheep_119","sushfanseg", "Sushantify","kundu_koushani","justiceforsushr","Sherni_6547"])
#query = "('SSR' OR 'ssr' OR 'Sushant' OR 'sushant' OR 'Rajput' OR 'rajput' OR #JusticeForSSR' OR '#Warriors4SSR' OR '#CBI4SSR' OR '#3024SSR' OR '#Revolution4SSR' OR '#302ForSSR')"
query = "('#KeralaFloods2019' OR '#KeralaFloodsAgain' OR '#KeralaRains' OR '#KeralaFloodRelief' OR '#KeralaFloods2019'OR '#keralarains' OR '#KeralaSOS' OR '#KeralaFloods19' OR '#PrayForKerala')"
#query = ""
#for name in name_list[1:len(name_list)]:
#  query += " OR from:"+name
#query+=")"
#print(query)
#name_list

In [ ]:
#Get the follower-friend connection between these users
#print(type(name_list[0]))
#nl = set([str(item) for item in name_list])
nl = []
userid2name=dict()
c=0
#Convert user IDs to name
for u1 in name_list:
  try:
    user = api.get_user(screen_name = u1)
    uid = user.id_str
    userid2name[uid]=u1
    nl.append(uid)
  except:
    print("User not found or some problem with the API call.")
    continue
pickle.dump(userid2name,open(path+"userid2name.pickle","wb"))
print(len(nl))

User not found or some problem with the API call.
User not found or some problem with the API call.
User not found or some problem with the API call.
User not found or some problem with the API call.
User not found or some problem with the API call.
User not found or some problem with the API call.
User not found or some problem with the API call.
166

In [ ]:
userid2name = pickle.load(open(path+"userid2name.pickle","rb"))
uname2id=dict()
for id in userid2name.keys():
  name = userid2name[id]
  uname2id[name]=id

In [ ]:
pickle.dump(nl,open(path+"name_list_ids.pickle","wb"))

In [ ]:
nl = pickle.load(open(path+"name_list_ids.pickle","rb"))

In [ ]:
str(nl[0])

'1272878657317396480'

In [ ]:
user2fol_hemant=dict()
c=0
name_list = ["Hemant36182804"]#["BH_Piyali"]#,"nilotpalm6"]
for u1 in name_list:
  followers = get_followers(u1)
  #print(followers)
  followers = [str(item) for item in followers]
  followers = set(followers)
  user2fol_hemant[u1] = followers
  c+=1
  #if c%20 == 0:
  #user2fol_v2.pickle is for nilotpal included
  #pickle.dump(user2fol,open(path+"user2fol_v2.pickle","wb"))
  #print("Pickle written.")
  #except:
  #  continue

In [ ]:
#user2fol = pickle.load(open(path+"user2fol_v2.pickle","rb"))
user2fol

In [ ]:
nl = set(nl)
for u1 in ["Hemant36182804"]:#["nilotpalm3","nilotpalm6"]:
  followers = set(user2fol_hemant[u1])
  common_fol = nl.intersection(followers)
  #print(followers)
  print("************************")
  print(len(common_fol))
  print("************************")

************************
96
************************

In [ ]:
nl=set(nl)
nl_l = list(nl)
edge_list=[]
c=0
for u1 in user2fol.keys():
  #try:
  if "nilotpalm" in u1:
    u_ind = -999
  else:
    u_ind = nl_l.index(uname2id[u1])
  followers = set(user2fol[u1])
  #num_fol = user.followers_count
  common_fol = nl.intersection(followers)
  print(u1)
  #print(followers)
  print("************************")
  print(len(common_fol))
  print("************************")
  print("\n")
  #user2fol[u1] = common_fol
  c+=1
  for fol in common_fol:
    if "nilotpalm" in fol:
      v_ind = -999
    else:
      v_ind = nl_l.index(fol)
    edge_list.append((u_ind,v_ind))
    print("Appended:"+str((u_ind,v_ind)))
  #print(num_fol)
  if len(common_fol) == 0:
    print("No common followers.")
  print(str(c)+"users processed.")
  #if c%2==0:
    #pickle.dump(edge_list,open(path+"edge_list.pickle","wb"))
    #print("Wrote to pickle.")
  #except:
  #  continue

In [ ]:
!pip3 install pyvis

In [ ]:
edge_list = list(set(edge_list))
import networkx as nx
from matplotlib import pyplot as plt
# generate generic network graph instance
nx_graph = nx.DiGraph()
for edge in edge_list:
  nx_graph.add_edge(edge[0],edge[1])




#nx.draw(nx_graph, with_labels=True, node_size=2, alpha=0.2, linewidths=1)
#plt.show()

#from pyvis.network import Network
#nt = Network("500px", "500px")
# populates pyvis network from networkx instance
#nt.from_nx(nx_graph)
#nt.show("output.html")
##import IPython
#IPython.display.HTML(filename="output.html")

In [ ]:
print(nx.density(nx_graph))

0.5228750923872875

In [ ]:
nx_graph.out_degree(-999)

117

In [ ]:
max = -float("inf")

for tup in nx_graph.in_degree(nx_graph.nodes()):
  node = tup[0]
  indeg = tup[1]
  #print(indeg)
  if indeg>=max:
    max = indeg
    maxnode = node

max_out = -float("inf")  
for tup in nx_graph.out_degree(nx_graph.nodes()):
  node = tup[0]
  outdeg = tup[1]  
  if outdeg>=max_out:
    max_out = outdeg
    maxnode_out = node

print("Node "+userid2name[nl_l[maxnode]]+" has the maximum friends:"+str(max))
print("Node "+userid2name[nl_l[maxnode_out]]+" has the maximum fol:"+str(max_out))

Node RohanAl85812545 has the maximum friends:159
Node Khushi4justice has the maximum fol:143

In [ ]:
nx_graph.out_degree(maxnode)

73

In [ ]:
print(len(user2fol.keys()))
print(len(name_list))

163
173

In [ ]:
import glob
listing = glob.glob("drive/My Drive/MSR/ssr_keywords3/edge*")
listing

[]

In [ ]:
import pickle
el = pickle.load(open("edge_list.pickle","rb"))
len(el)

0

In [ ]:
print(len(edge_list))

0

In [ ]:
#os.mkdir("drive/My Drive/MSR/ssr_keywords3")
path_keywords = "drive/My Drive/MSR/ssr_keywords3/"

In [10]:
def connect_to_endpoint(bearer_token, query,start_time, next_token=None):
    
    headers = {"Authorization":"Bearer {}".format(bearer_token)}
    
    # add additional parameters as needed
    params = {
            'query': query,
            'expansions': 'author_id,referenced_tweets.id,referenced_tweets.id.author_id,in_reply_to_user_id,entities.mentions.username',
            'tweet.fields': 'created_at,author_id,lang,entities,referenced_tweets,in_reply_to_user_id,public_metrics,context_annotations', 
            


            'start_time': start_time,
            'end_time': "2019-12-31T00:00:00Z",
            'max_results': 100,

        }
    url = "https://api.twitter.com/2/tweets/search/all"
    
    if (next_token is not None):       
        
        params['next_token'] = next_token # add pagination key to query dict   
        
    time.sleep(0.01)
    response = requests.request("GET", url, params=params, headers=headers)
    

    reset_time = response.headers.get('x-rate-limit-reset')
    if reset_time is not None:
        reset_time = int(reset_time)
        
    if response.status_code != 200:
        if(reset_time is not None):
            delay_time = reset_time - int(time.time())
        else:
            delay_time = 3
        print('Sleeping for '+str(delay_time)+' s')
        time.sleep(delay_time)
        response = requests.request("GET", url, params=params, headers=headers)
    if response.status_code != 200:
        raise Exception(response.status_code, response.text)
    
    return response.json()

In [11]:
query

"('#KeralaFloods2019' OR '#KeralaFloodsAgain' OR '#KeralaRains' OR '#KeralaFloodRelief' OR '#KeralaFloods2019'OR '#keralarains' OR '#KeralaSOS' OR '#KeralaFloods19' OR '#PrayForKerala')"

In [13]:
#Query based tweet crawling (Not user based)
############################################
purge = []
t = 0
fext = "all_tweets"
path_keywords = "drive/My Drive/MSR/ssr_keywords3/kerala_floods"
banned_users=[]
start_time = "2019-08-01T00:00:00Z"
c=0
#The keyword file does not exist. So, it has to be created
tweets = []
users = []
t += 1
start = time.time()
path = path_keywords+"/"

count = 0
flag = True
next_token = None

while flag:
    time.sleep(2)
    #If count of tweets collected exceeds this number (it can exceed quite a bit as result_count will already have count of all tweets in the current page)
    #if(count >=200000):  
    #    break
    #If there are no results or tweets in the next page, just collect tweets from this page
    if(next_token is None):
        json_response = connect_to_endpoint(bearer_token,query,start_time)
    #Else, send the next_token parameter in the connect function, so that next page can be referred to
    else:
        json_response = connect_to_endpoint(bearer_token,query,start_time, next_token)
    #Get the count of tweets in this page
    result_count = json_response['meta']['result_count']
    #Get the next token
    if 'next_token' in json_response['meta']:
        next_token = json_response['meta']['next_token']
    else:
        next_token = None
    #If there are more than 0 tweets in this page
    if result_count is not None and result_count > 0:
        #Append the tweets to a list
        #tweet_dict stands for one tweet
        #json_response['data'] contains all tweets in this page (number of tweets = result_count)
        for tweet_dict in json_response['data']:
            c+=1
            #print(tweet_dict.keys())
            tweets.append(tweet_dict)
            if c%1000 == 0:
              #Temporarily saving the partial tweets file (all tweets in the current page) for this user
              tweet_df2 = pd.DataFrame(tweets)
              tweet_df2.to_json(path+'kerala_floods.temp'+'.'+fext+'.'+str(start_time)+'.json')
              print(str(c)+" tweets collected.")
        #Append the users mentioned in the tweets (RT'ed etc.) to a list
        if('users' in json_response['includes'].keys()): #includes also returns an error key for invalid accounts/hashtags
            for tweet_dict in json_response['includes']['users']:
                users.append(tweet_dict)
        
        
        count += result_count
        #if(count%2000000==0):
        #    print("!!!!")
        #    print(count)
    #Else exit the while loop and go to the next user
    else:
        flag=False
    #If no more pages exist, exit the while loop and go to the next user
    if next_token is None:
        flag = False
    
    
tweet_df = pd.DataFrame(tweets)
#print(tweet_df)
tweet_df.to_json(path+'kerala_floods.'+fext+'.'+str(start_time)+'.json')
user_df = pd.DataFrame(users)
user_df.to_json(path+'kerala_floods_users'+'.'+fext+'.'+str(start_time)+'.json')
    
print((count,t))

Sleeping for 690 s

KeyboardInterrupt: ignored

In [ ]:
#name_list = #"Angry_Bot14","BH_Piyali","Mahadev_Gulshan*",""manisha_1604* (135K), "blacksheep_119 (58K)","sushfanseg", "Sushantify","kundu_koushani (45K)","justiceforsushr (25K)",
#name_list = ["Sherni_6547"]
#name_list = ["manisha_1604"] #"ApurvaU21","blacksheep_119"

#name_list = random_users
name_list = ['republic','aajtak','TimesNow','ZeeNewsEnglish','ZeeNews']
purge = []
t = 0
#ssr_keywords = ['sushant','singh', 'rajput','#Justice4SSR','#JusticeForSSR', '#Warriors4SSR', '#CBI4SSR','#3024SSR','justice','bollywood','#Revolution4SSR','#302ForSSR']
#ssr_keywords = [query]
fext = "all_tweets"
#name_list = ["nilotpalm1"]
#name_list = ["Piyali_Bh1"]
#name_list = ["PiyaliBh"]
#name_list = ["BH_Piyali"]
#name_list = ["Hemant36182804"]
#name_list = ["hemant_ssr"]
#########################################
#name_list = ["nilotpalm3"]
path_keywords = "drive/My Drive/MSR/ssr_keywords3/media_all_tweets"
banned_users=[]
start_time = "2020-06-14T00:00:00Z"
for x in name_list:#[163:len(name_list)]:
#for x in name_list[157:len(name_list)]:
    query = "(SSR OR ssr OR Sushant OR sushant OR Rajput OR rajput OR #JusticeForSSR OR #Warriors4SSR OR #CBI4SSR OR #3024SSR OR #Revolution4SSR OR #302ForSSR)"
    #query = ""
    print("*******************")
    print(x)
    print(name_list.index(x))
    print("*******************")
    c=0
    #If the file with the user name exists, then move forward and select the next user
    #if(x+'.'+fext+'.'+str(start_time)+'.json' in os.listdir(path_keywords+'/')):
    #  print(x+'.'+fext+'.'+str(start_time)+'.json'+' exists')
    #  continue
    #The keyword file does not exist. So, it has to be created
    tweets = []
    users = []
    t += 1
    start = time.time()
    query = query+" from:"+x #+'from:'+x for getting users archive; change query according to need
    #query = "from:"+x
    start_time = "2020-06-14T00:00:00Z" #end_time is directly set in connect_to_endpoint ; change it to parameter for dynamic
    path = path_keywords+"/"
    
    count = 0
    flag = True
    next_token = None

    while flag:
        time.sleep(2)
        #If count of tweets collected exceeds this number (it can exceed quite a bit as result_count will already have count of all tweets in the current page)
        #if(count >=200000):  
        #    break
        #If there are no results or tweets in the next page, just collect tweets from this page
        if(next_token is None):
            json_response = connect_to_endpoint(bearer_token,query,start_time)
        #Else, send the next_token parameter in the connect function, so that next page can be referred to
        else:
            json_response = connect_to_endpoint(bearer_token,query,start_time, next_token)
        #Get the count of tweets in this page
        result_count = json_response['meta']['result_count']
        #Get the next token
        if 'next_token' in json_response['meta']:
            next_token = json_response['meta']['next_token']
        else:
            next_token = None
        #If there are more than 0 tweets in this page
        if result_count is not None and result_count > 0:
            #Append the tweets to a list
            #tweet_dict stands for one tweet
            #json_response['data'] contains all tweets in this page (number of tweets = result_count)
            for tweet_dict in json_response['data']:
                c+=1
                #print(tweet_dict.keys())
                tweets.append(tweet_dict)
                if c%1000 == 0:
                  #Temporarily saving the partial tweets file (all tweets in the current page) for this user
                  tweet_df2 = pd.DataFrame(tweets)
                  tweet_df2.to_json(path+x+'.temp'+'.'+fext+'.'+str(start_time)+'.json')
                  print(str(c)+" tweets collected.")
            #Append the users mentioned in the tweets (RT'ed etc.) to a list
            if('users' in json_response['includes'].keys()): #includes also returns an error key for invalid accounts/hashtags
                for tweet_dict in json_response['includes']['users']:
                    users.append(tweet_dict)
            
            
            count += result_count
            #if(count%2000000==0):
            #    print("!!!!")
            #    print(count)
        #Else exit the while loop and go to the next user
        else:
            flag=False
        #If no more pages exist, exit the while loop and go to the next user
        if next_token is None:
            flag = False
        
        
    tweet_df = pd.DataFrame(tweets)
    if tweet_df.shape[0]==0:
      banned_users.append(x)
    #print(tweet_df)
    tweet_df.to_json(path+x+'.'+fext+'.'+str(start_time)+'.json')
    print(path+x+'.'+fext+'.json')
    user_df = pd.DataFrame(users)
    user_df.to_json(path+x+'_users'+'.'+fext+'.'+str(start_time)+'.json')
       
    print((count,t))

*******************
republic
0
*******************
1000 tweets collected.
2000 tweets collected.
3000 tweets collected.
drive/My Drive/MSR/ssr_keywords3/media_all_tweets/republic.all_tweets.json
(3713, 1)
*******************
aajtak
1
*******************
1000 tweets collected.
2000 tweets collected.
drive/My Drive/MSR/ssr_keywords3/media_all_tweets/aajtak.all_tweets.json
(2330, 2)
*******************
TimesNow
2
*******************
1000 tweets collected.
2000 tweets collected.
3000 tweets collected.
4000 tweets collected.
drive/My Drive/MSR/ssr_keywords3/media_all_tweets/TimesNow.all_tweets.json
(4548, 3)
*******************
ZeeNewsEnglish
3
*******************
drive/My Drive/MSR/ssr_keywords3/media_all_tweets/ZeeNewsEnglish.all_tweets.json
(889, 4)
*******************
ZeeNews
4
*******************
drive/My Drive/MSR/ssr_keywords3/media_all_tweets/ZeeNews.all_tweets.json
(885, 5)

In [ ]:
df_pure_tweets = pd.DataFrame()
l1 = []
l2 = []
l3 = []
for fname in os.listdir(path_keywords):
  if "all_tweets" in fname and "temp" not in fname and "_users" not in fname:
    uname = fname.split(".")[0]
    d = json.load(open(path_keywords+"/"+fname))
    df = pd.DataFrame(d)
    #if df.shape[0]>10000:
    #try:
    # print(df.tail()["created_at"][4])
    #except:
    # continue
    if "created_at" in df.columns:
      c=0
      for i in range(df.shape[0]):
        if "ssr" in df["text"][i].lower() or "sushant" in df["text"][i].lower() or "rajput" in df["text"][i].lower():
          c+=1
      l1.append(uname)
      l2.append(c)
      l3.append(df.shape[0])

      print("Percentage of SSR tweets:"+str(float(c/df.shape[0])*100))  
df_pure_tweets["User"] = l1
df_pure_tweets["Count of SSR Tweets"] = l2
df_pure_tweets["Count of Tweets"] = l3

Percentage of SSR tweets:78.06697108066972
Percentage of SSR tweets:80.9944724474639
Percentage of SSR tweets:78.83193411143722
Percentage of SSR tweets:85.20384791571233
Percentage of SSR tweets:81.8681718863802
Percentage of SSR tweets:63.19444444444444
Percentage of SSR tweets:79.34150266122046
Percentage of SSR tweets:81.39280855585235
Percentage of SSR tweets:67.17948717948717
Percentage of SSR tweets:66.99349167441467
Percentage of SSR tweets:89.25233644859813
Percentage of SSR tweets:78.23696193831086
Percentage of SSR tweets:87.1944189896243
Percentage of SSR tweets:77.25856697819314
Percentage of SSR tweets:77.44654725476056
Percentage of SSR tweets:56.10357583230579
Percentage of SSR tweets:63.91982182628062
Percentage of SSR tweets:72.9219366365357
Percentage of SSR tweets:67.48213081591369

In [ ]:
df_pure_tweets["Percentage of SSR Tweets"] = (df_pure_tweets["Count of SSR Tweets"]/df_pure_tweets["Count of Tweets"])*100

In [ ]:
df_pure_tweets.sort_values("Percentage of SSR Tweets",inplace = True,ascending=False)

AttributeError: ignored

In [ ]:
df_pure_tweets = df_pure_tweets.reset_index()

In [ ]:
#df_pure_tweets.drop("index",axis=1,inplace=True)
df_pure_tweets.head(10).to_csv("drive/My Drive/MSR/Blog Post/Main/pure_tweets.csv")

In [ ]:
df.head()s

,lang,referenced_tweets,context_annotations,text,entities,author_id,created_at,public_metrics,id,in_reply_to_user_id
0,en,"[{'type': 'retweeted', 'id': '1496888081084936...","[{'domain': {'id': '123', 'name': 'Ongoing New...",RT @CoronaKuti: BIG BREAKING: I need to make m...,"{'annotations': [{'start': 90, 'end': 96, 'pro...",1344876265694662657,2022-02-24T17:13:31.000Z,"{'retweet_count': 59, 'reply_count': 0, 'like_...",1496896080621236224,None
1,en,"[{'type': 'replied_to', 'id': '149689124078026...",None,@RitikaT11 @Ritika23227175 That's So Sweet\nYo...,"{'mentions': [{'start': 0, 'end': 10, 'usernam...",1344876265694662657,2022-02-24T17:02:38.000Z,"{'retweet_count': 0, 'reply_count': 1, 'like_c...",1496893342889943043,1471099950729621508
2,en,"[{'type': 'retweeted', 'id': '1496889981893476...",None,RT @Rohanrathodssr2: Tagline ðŸ‘‡\nUnforgettable ...,"{'urls': [{'start': 66, 'end': 89, 'url': 'htt...",1344876265694662657,2022-02-24T16:52:21.000Z,"{'retweet_count': 6, 'reply_count': 0, 'like_c...",1496890756640182272,None
3,en,"[{'type': 'retweeted', 'id': '1496890321862823...",None,RT @MinarvaPanda4: @SSRianSatya @sabkapyarajer...,"{'mentions': [{'start': 3, 'end': 17, 'usernam...",1344876265694662657,2022-02-24T16:50:52.000Z,"{'retweet_count': 3, 'reply_count': 0, 'like_c...",1496890383397433346,None
4,en,"[{'type': 'retweeted', 'id': '1496890053137944...",None,RT @MinarvaPanda4: @SSRianSatya @sabkapyarajer...,"{'mentions': [{'start': 3, 'end': 17, 'usernam...",1344876265694662657,2022-02-24T16:50:01.000Z,"{'retweet_count': 1, 'reply_count': 0, 'like_c...",1496890169206915075,None

In [ ]:
#os.mkdir("drive/My Drive/MSR/ssr_keywords3")
path = "drive/My Drive/MSR/ssr_keywords3/"
fext = "correct_all"
d = json.load(open(path+'manisha_1604'+'.'+fext+'.'+str(start_time)+'.json'))
#d = json.load(fin)
df = pd.DataFrame(d)
df.head()

,author_id,lang,created_at,text,referenced_tweets,entities,public_metrics,id,context_annotations,in_reply_to_user_id,withheld
0,1274233377688821760,en,2021-06-12T20:31:45.000Z,RT @itsdaksh29: Lets be positive \n\nCBI Knows...,"[{'type': 'retweeted', 'id': '1403751951154565...","{'mentions': [{'start': 3, 'end': 14, 'usernam...","{'retweet_count': 21, 'reply_count': 0, 'like_...",1403812287199072256,None,None,None
1,1274233377688821760,en,2021-06-12T20:31:38.000Z,RT @ItsNightFury202: Not just Bullywood Plotte...,"[{'type': 'retweeted', 'id': '1403752640022941...","{'mentions': [{'start': 3, 'end': 19, 'usernam...","{'retweet_count': 4, 'reply_count': 0, 'like_c...",1403812258199740418,None,None,None
2,1274233377688821760,en,2021-06-12T20:31:36.000Z,RT @justice_sushant: After 2 days it's going t...,"[{'type': 'retweeted', 'id': '1403731009082888...","{'mentions': [{'start': 3, 'end': 19, 'usernam...","{'retweet_count': 149, 'reply_count': 0, 'like...",1403812250431856640,None,None,None
3,1274233377688821760,en,2021-06-12T20:31:34.000Z,RT @komalv18: SSR \n\nWe miss You a Lot and We...,"[{'type': 'retweeted', 'id': '1403751952144429...","{'mentions': [{'start': 3, 'end': 12, 'usernam...","{'retweet_count': 24, 'reply_count': 0, 'like_...",1403812242907303943,None,None,None
4,1274233377688821760,en,2021-06-12T20:31:33.000Z,RT @Poojasmanu: Why SSR changed multiple simca...,"[{'type': 'retweeted', 'id': '1403746102382260...","{'mentions': [{'start': 3, 'end': 14, 'usernam...","{'retweet_count': 8, 'reply_count': 0, 'like_c...",1403812234854211589,None,None,None

In [ ]:
df.tail()

,author_id,lang,created_at,text,referenced_tweets,entities,public_metrics,id,context_annotations,in_reply_to_user_id,withheld
47005,1274233377688821760,en,2020-07-29T08:32:22.000Z,Thereâ€™s a new turn in the SSR case. Letâ€™s see ...,None,"{'hashtags': [{'start': 154, 'end': 183, 'tag'...","{'retweet_count': 0, 'reply_count': 0, 'like_c...",1288391908939780096,None,None,None
47006,1274233377688821760,en,2020-07-03T08:54:05.000Z,We strongly believe that thereâ€™s something fis...,None,"{'hashtags': [{'start': 105, 'end': 131, 'tag'...","{'retweet_count': 15, 'reply_count': 1, 'like_...",1278975286432931842,None,None,None
47007,1274233377688821760,en,2020-06-26T17:23:26.000Z,@boxofficeindia @KanganaTeam @KillBillBride SS...,"[{'type': 'replied_to', 'id': '127431673346607...","{'mentions': [{'start': 0, 'end': 15, 'usernam...","{'retweet_count': 0, 'reply_count': 0, 'like_c...",1276566754437689344,None,88147848,None
47008,1274233377688821760,en,2020-06-24T17:13:01.000Z,Shekhar Suman demands CBI probe in Sushant Sin...,None,"{'urls': [{'start': 72, 'end': 95, 'url': 'htt...","{'retweet_count': 0, 'reply_count': 0, 'like_c...",1275839359380451329,"[{'domain': {'id': '10', 'name': 'Person', 'de...",None,None
47009,1274233377688821760,en,2020-06-22T09:47:05.000Z,@Akshay_Brigade Sushant,"[{'type': 'replied_to', 'id': '127495263351032...","{'mentions': [{'start': 0, 'end': 15, 'usernam...","{'retweet_count': 0, 'reply_count': 0, 'like_c...",1275002357475168256,None,4243762032,None

In [ ]:
print(len(banned_users))
pickle.dump(banned_users,open(path+"banned_core_users.pickle","wb"))

40

In [ ]:
path = "drive/My Drive/MSR/ssr_keywords3/"
banned_users = pickle.load(open(path+"banned_core_users.pickle","rb"))

In [ ]:
path2 = "drive/My Drive/MSR/Blog Post/"
#df = pd.read_excel(path2+"consolidated_tweet_mention_count_file2.xlsx")
df = pd.read_csv(path2+"top20_retweeted_users_monthwise.csv")

In [ ]:
df = df.drop("Unnamed: 0",axis=1)

In [ ]:
df.head()

  created_at             user  retweet_count
0     9-2021       Anoop_4545        1024003
1     9-2021     manisha_1604        1023273
2     9-2021  Justice62467857         831130
3     9-2021     ___avikaaaaa         760769
4     9-2021        psush4747         640066

In [ ]:
#See which users are actually banned in this group
def isBanned(screen_name):
    try:
      user = api.get_user(screen_name = screen_name)
      return "Active"
      #uid = user.id_str
    except:
      #print("For "+screen_name)
      #actually_banned_users.append(screen_name)
      #print("User not found or some problem with the API call.")
      return "Banned"

df["Status"] = df["user"].apply(lambda x: isBanned(x))
df.to_csv(path2+"top20_retweeted_users_monthwise_v2.csv")

In [ ]:
df.tail(20)

    created_at             user  retweet_count  Status
400     1-2021  Justice62467857        1905052  Active
401     1-2021     AJ_Rockstar_        1303012  Active
402     1-2021      Bakshi4ever        1003229  Active
403     1-2021       its_ksaini         968422  Active
404     1-2021    HanishaMirani         840868  Active
405     1-2021         SSRkaFan         810460  Active
406     1-2021    Justice132465         806214  Active
407     1-2021         Nyay4SSR         796792  Active
408     1-2021         SSRIANS6         773066  Active
409     1-2021         PiyaliBh         718163  Active
410     1-2021  cassiopeia_5311         689772  Active
411     1-2021   itsSelf_Musing         660135  Active
412     1-2021  SonalSh66096422         654683  Active
413     1-2021   blacksheep_119         577706  Active
414     1-2021       Piyali_Bh1         560133  Active
415     1-2021      Bansari1921         550560  Banned
416     1-2021     ssrstan4ever         548243  Active
417     1-2021        MistiSSRF         499204  Active
418     1-2021  _ADITICHOURASIA         486535  Active
419     1-2021       Sushantify         457580  Active

In [ ]:
df.to_csv(path2+"consolidated_tweet_mention_count_file3.csv")

In [ ]:
df.tail()

,User,Num tweets post Jun 15,Num tweets pre Jun 15,Mention,Mentions before Jun 15,Mentions after Jun 15,Diff,Influencer,Status
4906,NaN,NaN,NaN,itsNibedita,1.0,15.0,14.0,0,Active
4907,NaN,NaN,NaN,aajKAarjun2021,1.0,17.0,16.0,0,Active
4908,NaN,NaN,NaN,AJ75485213,1.0,21.0,20.0,0,Active
4909,NaN,NaN,NaN,SushGalaxy,1.0,21.0,20.0,0,Banned
4910,NaN,NaN,NaN,swatimi26053790,1.0,41.0,40.0,0,Banned

In [ ]:
df.to_csv(path2+"banned_mentioned_users.csv")

In [ ]:
import json
#f1 = open("drive/My Drive/MSR/ssr_keywords3/Imonly4sushant.json")
#f2 = open("drive/My Drive/MSR/ssr_keywords3/karu28Aug.json") 
#f1 = open("drive/My Drive/MSR/ssr_keywords3/SSR_Justice_Pls.correct3.json")
#f1 = open("drive/My Drive/MSR/ssr_keywords3/Sushant24921433.correct3.json")
f1 = open("drive/My Drive/MSR/ssr_keywords3/hemant_ssr.alltweets_20182022_v2.json")
f2 = open("drive/My Drive/MSR/ssr_keywords3/Hemant36182804.alltweets_20182022_v2.json")


d1 = json.load(f1)
d2 = json.load(f2)
df1 = pd.DataFrame(d1)
df2 = pd.DataFrame(d2)

df1 = df1[["created_at","text"]]
df2 = df2[["created_at","text"]]

In [ ]:
df1.to_csv(path+"Hemant36182804.all.csv")
df2.to_csv(path+"hemant_ssr.all.csv")

In [ ]:
path

'drive/My Drive/MSR/ssr_keywords3//'

In [ ]:
#Check end dates for tweet clusters
import pandas as pd
import json
import os
d = dict()
d["correct2"]=0
d["correct3"]=0
d["correct4"]=0
d["correct5"]=0
for fname in os.listdir(path_keywords):
  if ("correct4" in fname):
    j = json.load(open(path_keywords+fname))
    df = pd.DataFrame(j)
    if "created_at" in df.columns:
      print(fname+":"+df["created_at"][df.shape[0]-1])
    
    if "correct2" in fname:
      d["correct2"]+=1
    elif "correct3" in fname:
      d["correct3"]+=1
    elif "correct4" in fname:
      d["correct4"]+=1
    elif "correct5" in fname:
      d["correct5"]+=1

    #if d["correct4"]>5:
    #  break

In [ ]:
df1.head()

                    id  ... in_reply_to_user_id
0  1490011858199220228  ...                None
1  1490011849525395460  ...                None
2  1490011840159440900  ...                None
3  1490011827798888454  ...                None
4  1490011815987724290  ...                None

[5 rows x 10 columns]

In [ ]:
df1.head()

                                            entities  ... in_reply_to_user_id
0  {'hashtags': [{'start': 14, 'end': 30, 'tag': ...  ...                None
1  {'mentions': [{'start': 3, 'end': 17, 'usernam...  ...                None
2  {'mentions': [{'start': 3, 'end': 12, 'usernam...  ...                None
3  {'annotations': [{'start': 21, 'end': 40, 'pro...  ...                None
4  {'mentions': [{'start': 3, 'end': 17, 'usernam...  ...                None

[5 rows x 10 columns]